{% extends "layouts/main.html" %}

{% block pageTitle %}
  About the significant change – Tier 1 significant change application – GOV.UK
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/v3/about-significant-change-submit" method="post">

        {% if errors %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [{ text: "Enter details about the significant change", href: "#reason" }]
          }) }}
        {% endif %}

        {{ govukCharacterCount({
          id: "reason",
          name: "reason",
          maxlength: 2000,
          label: {
            html: '<span class="govuk-caption-l">About the significant change</span>About the significant change',
            isPageHeading: true,
            classes: "govuk-label--l"
          },
          hint: {
            html: '<p class="govuk-hint">Include:</p><ul class="govuk-list govuk-list--bullet govuk-hint"><li>details of the change that is being made</li><li>why the change is being made</li><li>what will be achieved by making the change</li></ul>'
          },
          errorMessage: { text: "Enter details about the significant change" } if errors,
          value: data['reason']
        }) }}

        {{ govukButton({
          text: "Save and return"
        }) }}

      </form>

      {{ govukDetails({
        summaryText: "Get help with this form",
        text: "Contact the academies helpdesk if you need help completing this form."
      }) }}

    </div>
  </div>

{% endblock %}
