{% extends "layouts/main.html" %}

{% block pageTitle %}
  Further details – boarding – Tier 1 significant change application – GOV.UK
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/v3/boarding-further-details-submit" method="post">

        {{ govukCharacterCount({
          id: "boarding-governance",
          name: "boardingGovernance",
          maxlength: 2000,
          label: {
            html: '<span class="govuk-caption-l">Governance and leadership</span>Governance and leadership',
            isPageHeading: true,
            classes: "govuk-label--l"
          },
          hint: {
            html: '<p class="govuk-hint">Include:</p><ul class="govuk-list govuk-list--bullet govuk-hint"><li>how the trust has the appropriate experience and governance arrangements in place to support this change</li><li>details of any leadership or governance changes proposed to facilitate this change</li></ul>'
          },
          value: data['boardingGovernance']
        }) }}

        {{ govukButton({
          text: "Save and return"
        }) }}

      </form>

      {{ govukDetails({
        summaryText: "Get help with this form",
        text: "Contact the academies helpdesk if you need help completing this form."
      }) }}

    </div>
  </div>

{% endblock %}
