{% extends "layouts/main.html" %}

{% block pageTitle %}
  Capacity – Tier 1 significant change application – GOV.UK
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/v3/capacity-submit" method="post">

        {{ govukCharacterCount({
          id: "capacity",
          name: "capacity",
          maxlength: 2000,
          label: {
            html: '<span class="govuk-caption-l">Additional details</span>Capacity',
            isPageHeading: true,
            classes: "govuk-label--l"
          },
          hint: {
            html: '<p class="govuk-hint">Enter the academy’s current capacity and what the capacity will be after the change</p>'
          },
          value: data['capacity']
        }) }}

        {{ govukButton({
          text: "Save and return"
        }) }}

      </form>

      {{ govukDetails({
        summaryText: "Get help with this form",
        text: "Contact the academies helpdesk if you need help completing this form."
      }) }}

    </div>
  </div>

{% endblock %}
