{% extends "layouts/main.html" %}

{% block pageTitle %}
  What do you plan to do? – Tier 1 significant change application – GOV.UK
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/v3/plan-pupil-places-submit" method="post">

        {% if errors %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
              {
                text: "Select what you plan to do",
                href: "#plan-pupil-places"
              }
            ]
          }) }}
        {% endif %}

        <span class="govuk-caption-l">Type of significant change</span>
        {{ govukRadios({
          idPrefix: "plan-pupil-places",
          name: "planPupilPlaces",
          fieldset: {
            legend: {
              text: "What do you plan to do?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          errorMessage: {
            text: "Select what you plan to do"
          } if errors,
          items: [
            { value: "add-mainstream", text: "Expand capacity by adding 31 or more mainstream pupil places" },
            { value: "remove-mainstream", text: "Reduce capacity by removing 31 or more mainstream pupil places" },
            { value: "add-ap-special", text: "Expand capacity by adding pupil places in an AP or special academy" },
            { value: "remove-ap-special", text: "Reduce capacity by removing pupil places in an AP or special academy" },
            { value: "add-sen", text: "Add pupil places to an existing SEN unit or resourced provision" },
            { value: "remove-sen", text: "Remove pupil places from an existing SEN unit or resourced provision" }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

      {{ govukDetails({
        summaryText: "Get help with this form",
        text: "Contact the academies helpdesk if you need help completing this form."
      }) }}

    </div>
  </div>

{% endblock %}
