{% extends "layouts/main.html" %}

{% block pageTitle %}
  Removing a sixth form – Tier 1 significant change application – GOV.UK
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/v3/removing-sixth-form-submit" method="post">

        {{ govukCharacterCount({
          id: "removing-sixth-form",
          name: "removingSixthForm",
          maxlength: 2000,
          label: {
            html: '<span class="govuk-caption-l">Additional details</span>Removing a sixth form',
            isPageHeading: true,
            classes: "govuk-label--l"
          },
          hint: {
            html: '<p class="govuk-hint">Describe your plans for closing the sixth form including:</p><ul class="govuk-list govuk-list--bullet govuk-hint"><li>any phased closure arrangements</li><li>how affected and prospective students will be supported to access alternative post-16 provision</li><li>how you will engage and communicate with key stakeholders throughout the process</li></ul>'
          },
          value: data['removingSixthForm']
        }) }}

        {{ govukButton({
          text: "Save and return"
        }) }}

      </form>

      {{ govukDetails({
        summaryText: "Get help with this form",
        text: "Contact the academies helpdesk if you need help completing this form."
      }) }}

    </div>
  </div>

{% endblock %}
