{% extends "layouts/main.html" %}

{% block pageTitle %}
  What is the name of the academy? – Tier 1 significant change application – GOV.UK
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/academy-name-submit" method="post">

        {% if errors %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
              {
                text: "Enter is the name of the academy",
                href: "#academy-name"
              }
            ]
          }) }}
        {% endif %}

        {{ govukInput({
          id: "academy-name",
          name: "academyName",
          label: {
            text: "What is the name of the academy?",
            isPageHeading: true,
            classes: "govuk-label--l"
          },
          errorMessage: {
            text: "Enter what is the name of the academy?"
          } if errors
        }) }}



        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

      {{ govukDetails({
        summaryText: "Get help with this form",
        text: "Contact the academies helpdesk if you need help completing this form."
      }) }}

    </div>
  </div>

{% endblock %}
