{% extends "layouts/main.html" %}

{% block pageTitle %}
  Have you contacted your regional DfE Delivery Officer? – Tier 1 significant change application – GOV.UK
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/contacted-do-next-page" method="post">

        {{ govukRadios({
          idPrefix: "contacted-do",
          name: "contactedDo",
          fieldset: {
            legend: {
              text: "Have you contacted your regional DfE Delivery Officer (DO) to tell them a change has already been made?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
