{% extends "layouts/main.html" %}

{% block pageTitle %}
  You need to contact your regional DfE Delivery Officer (DO) before you use this service – Tier 1 significant change application – GOV.UK
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">You need to contact your regional DfE Delivery Officer (DO) before you use this service</h1>

      <p class="govuk-body">An application should be submitted before a significant change is made.</p>
      <p class="govuk-body">If you've already made a significant change before making an application you need to speak to a regional DO.</p>
      <p class="govuk-body">They will advise you on what you need to do next.</p>

    </div>
  </div>

{% endblock %}
