{% extends "layouts/main.html" %}

{% block pageTitle %}
  What were the objections? – Tier 1 significant change application – GOV.UK
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/objections-details-submit" method="post">

        {% if errors %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
              {
                text: "Enter what the objections were",
                href: "#objections-details"
              }
            ]
          }) }}
        {% endif %}

        {{ govukCharacterCount({
          id: "objections-details",
          name: "objectionsDetails",
          maxlength: 2000,
          label: {
            text: "What were the objections?",
            isPageHeading: true,
            classes: "govuk-label--l"
          },
          hint: {
            text: "Give details of the objections raised and how they will be addressed"
          },
          errorMessage: {
            text: "Enter what the objections were"
          } if errors
        }) }}



        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

      {{ govukDetails({
        summaryText: "Get help with this form",
        text: "Contact the academies helpdesk if you need help completing this form."
      }) }}

    </div>
  </div>

{% endblock %}
