{% extends "layouts/main.html" %}

{% block pageTitle %}
  Has the academy had an Ofsted inspection in the last 2 months? – Tier 1 significant change application – GOV.UK
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/ofsted-inspection-next" method="post">

        {% if errors %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
              {
                text: "Select yes or no",
                href: "#ofsted-inspection"
              }
            ]
          }) }}
        {% endif %}

        {{ govukRadios({
          idPrefix: "ofsted-inspection",
          name: "ofstedInspection",
          fieldset: {
            legend: {
              text: "Has the academy had an Ofsted inspection in the last 2 months?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          errorMessage: {
            text: "Select yes or no"
          } if errors,
          items: [
            { value: "yes", text: "Yes" },
            { value: "no", text: "No" }
          ]
        }) }}



        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

      {{ govukDetails({
        summaryText: "Get help with this form",
        text: "Contact the academies helpdesk if you need help completing this form."
      }) }}

    </div>
  </div>

{% endblock %}
