{% extends "layouts/main.html" %}

{% block pageTitle %}
  Upload evidence that consent has been secured – Tier 1 significant change application – GOV.UK
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/religious-consent-evidence-submit" method="post">

        {% if errors %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
              {
                text: "Select a file",
                href: "#religious-consent-evidence"
              }
            ]
          }) }}
        {% endif %}

        {{ govukFileUpload({
          id: "religious-consent-evidence",
          name: "religiousConsentEvidence",
          label: {
            text: "Upload evidence that consent has been secured",
            isPageHeading: true,
            classes: "govuk-label--l"
          },
          hint: {
            text: "This could be a letter or email confirming consent"
          },
          errorMessage: {
            text: "Select a file"
          } if errors
        }) }}



        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

      {{ govukDetails({
        summaryText: "Get help with this form",
        text: "Contact the academies helpdesk if you need help completing this form."
      }) }}

    </div>
  </div>

{% endblock %}
