{% extends "layouts/main.html" %}

{% block pageTitle %}
  What do you plan to do? – Tier 1 significant change application – GOV.UK
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/what-do-you-plan-to-do-submit" method="post">

        {% if errors %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
              {
                text: "Select what you plan to do",
                href: "#what-do-you-plan-to-do"
              }
            ]
          }) }}
        {% endif %}

        {{ govukRadios({
          idPrefix: "what-do-you-plan-to-do",
          name: "whatDoYouPlanToDo",
          fieldset: {
            legend: {
              text: "What do you plan to do?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          errorMessage: {
            text: "Select what you plan to do"
          } if errors,
          items: [
            { value: "add", text: "Add a new boarding provision" },
            { value: "remove", text: "Completely remove a boarding provision" }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

      {{ govukDetails({
        summaryText: "Get help with this form",
        text: "Contact the academies helpdesk if you need help completing this form."
      }) }}

    </div>
  </div>

{% endblock %}
